#banner
    .banner-img
        img
            width: 100%
            height: auto

main
    .img-left
        img
            width: 100%
            height: auto
    .avantages
        img
            width: 25%
            height: auto